.centerbox

  %h1 About
  %marquee This page is under construction!
  %img{:src => "http://www.11points.com/images/animatedgifs/underconstruction.gif"}
  %strong Please come back later!
  %img{:src => "http://www.11points.com/images/animatedgifs/underconstruction.gif"}
  %h2 It'll be great!
  